.helpButton {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 3;
  border: none;
  outline: none;
  background-color: rgb(201, 91, 6);
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: rgb(0 0 0 / 25%) 0px 3px 18px;
}
.helpButton button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}
.helpButton button i {
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
  font-size: 22px;
}
.help {
  position: fixed;
  bottom: 15%;
  right: 30px;
  width: 382px;
  display: none;
  align-items: flex-start;
  justify-content: center;
  background: white;
  max-height: calc(100vh - 105px);
  border: 1px solid inherit;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: auto;
  box-shadow: rgb(0 0 0 / 25%) 0px 3px 18px;
  z-index: 4;
}
.helpHeader{
    text-align: left;
    background-color: #3503ba;
    padding: 20px;
    display: flex;
    flex-direction: row;
    /* align-items: start; */
    justify-content: center;
}

.cross_btn {
    display: none;
    background-color: inherit;
    border: none;
    color: white;
    position: relative;
    top: 3%;
    right: 0;
    margin-left: 10%;
}
.helpBody{
    margin: 0;
    padding: 2%;
    background-color: white;
    border: none;
    border-radius: 10%;
}
.helpBody form{
    margin-left: 5%;
}
.helpBody input{
    padding: 10px;
    width: 80%;
    margin: 5px;
    margin-right: 0;
    color: black;
    border: 2px solid blue;
    border-radius: 10px;
}
.helpBody textarea{
    padding: 10px;
    width: 80%;
    margin: 5px;
    margin-right: 0;
    color: black;
    border: 2px solid blue;
    border-radius: 10px;
}
.helpBody .buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.helpBody .buttons button{
    border: 2px solid blue;
  border-radius: 15%;
  background-color: inherit;
  padding: 10px;
  transition: all ease-in 1s;
}
