body {
  background: linear-gradient(#3503ba  , #06054b);
}
.page {
  margin: 10%;
  margin-top: 2%;
  margin-bottom: 3.5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: url(../images/background.jpg);
  /* background-image: url(../images/971.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  -webkit-box-shadow: 19px 19px 29px -19px rgba(52,3,186,1);
-moz-box-shadow: 19px 19px 29px -19px rgba(52,3,186,1);
box-shadow: 19px 19px 29px -19px rgba(52,3,186,1);
}
nav {
  background-color: white;
  /* display: grid; */
  /* grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  padding: 5px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
h4 {
  float: left;
  /* margin-top: 10px; */
  /* margin-bottom: 0px; */
  font-size: 20px;
}
.page nav a {
  /* padding: 5px; */
  text-decoration: none;
  margin-top: 2px;
}
.login,
.signup,
.feedback,
.contactus {
  border: 2px solid blue;
  border-radius: 15%;
  background-color: inherit;
  padding: 10px;
  transition: all ease-in 1s;
  /* float: right; */
  /* margin-bottom: %; */
}
.login:hover,
.signup:hover,
.feedback:hover,
.contactus:hover {
  background-color: blue;
  color: white;
}
.learn {
  
  color: white;
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.description {
  /* float: left; */
  /* margin-right: ; */
  margin-top: 10%;
}
.image {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}
.image img {
  width: 90%;
  height: 100%;
  vertical-align: middle;
  background-color: inherit;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .page {
    margin: 1%;
    height: 1000px;
  }

  nav {
    display: block;
    font-size: 15px;
    gap: 5px;
  }

  h4 {
    font-size: 18px;
    margin-right: 10px;
    width: 100%;
    text-align: center;
  }
  .learn {
    background-image: url(/samet-kurtkus-Jbu8x2RtS_c-unsplash.jpg);
    height: 100%;
    text-align: center;
  }
  .description {
    float: none;
    margin-right: 0;
    margin-top: 2%;
  }
  .image {
    display: grid;
    place-items: center;
  }
  .image img {
    display: none;
    width: 50%;
    height: auto;
  }
}
