.page
{
    background: url(../images/background.png) no-repeat;
    background-size: cover;
    margin: 100px;
    padding: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 500px;
}
.input-field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
}
.item3{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item4{
    grid-column-start: 1;
    grid-column-end: 3;
}
input{
    height: 30px;
    border-radius: 5px;
    border: 0;
}

@media only screen and (max-width:600px){
    .page{
        margin: 1%;
    }
    .buttons button{
        width: max-content;
    }
}